.loginWrapper {
    width: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -124px 0 0 -120px;
    text-align: center;
    perspective: 800px;
    form {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .loginPic {
        text-align: center;
        display: block;
        position: relative;
        overflow: hidden;
    }
    .loginPic span {
        display: block;
        color: #5f5f5f;
        font-size: 14px;
        margin: 10px 0 15px;
        font-weight: bold;
        text-shadow: 0 1px 1px #ffffff;
    }
    form {
        display: block;
        margin: 0 auto;
        width: 236px;
    }
    a {
        display: inline-block;
    }
    input[type=password],
    input[type=email],
    input[type=text] {
        font-size: 11px;
        color: #858585;
        box-shadow: 0 0 0 2px #ebebeb;
        padding: 7px 27px 7px 9px;
        border: 1px solid #d7d7d7;
        width: 198px;
        height: 18px;
        display: inline-block;
    }

    .ant-form-item-control:not(.has-error, .has-success) {
        .loginPassword {
            background: #fbfbfb url("/img/icons/loginLock.png") no-repeat 214px 7px;
        }
        .loginEmail {
            background: #fbfbfb url("/img/icons/loginEmail.png") no-repeat 213px 7px;
        }
    }
    .logControl {
        margin-top: 15px;

        .memory {
            float: left;
            margin-top: 5px;
        }

        input[type=submit] {
            float: right;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .ant-form-explain {
        text-align: left;
        text-indent: 2px;
    }
}
.ant-form-item {
    margin-bottom: 15px;
}
.ant-form-item.ant-form-item-with-help {
    margin-bottom: 3px;
}
